<div class="row p-5">
  <div class="col-sm-12">
    <form id="editPost">
      <input type="hidden" value="{{ postInfo.id }}" id="postId">
      <h2 class="custom-text-color">Edit Post</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="titleHelp"
          value="{{postInfo.title}}"
        />
        <div id="titleHelp" class="form-text">Add Title</div>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="3">{{postInfo.content}}</textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary background-color">Update</button>      
      </div>
      <div>&nbsp;</div>
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary background-color" id="delete-button">Delete</button>      
      </div>
    </form>
  </div>
</div>

<script src="/public/js/editPost.js"></script>