<div class="row p-5">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="border border-dark p-5 rounded"  id="login-form">
            <h2 class="custom-text-color ">Login</h2>
            <div class="mb-3">
                <label for="login-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="login-username">
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input  class="form-control" type="password" id="login-password" />
            </div>
            <button type="submit" class="btn btn-primary background-color">Login</button>
            <br>
            <br>
            <a href="/signup">Sign Up</a>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

<script src="/public/js/login.js"></script>