<div class="row p-5">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="border border-dark border-5 p-5 rounded"  id="form-signup">
            <h2 class="custom-text-color ">Sign Up</h2>
            <div class="mb-3">
                <label for="signup-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="signup-username">
            </div>
            <div class="mb-3">
                <label for="signup-password" class="form-label">Password</label>
                <input  class="form-control" type="password" id="signup-password" />
            </div>
            <button type="submit" class="btn btn-primary custom-background-color capitalize">Sign Up!</button>
            <br>
            <br>
            <a href="/login">Login instead</a>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

<script src="/public/js/signup.js"></script>