:root {
  --background: rgb(228, 205, 205);
  --backgorundcolor: #d1afaf;
  --color: #4428ac;
  --font-family: sans-serif;
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--backgorundcolor);
}

.custom-text-color {
  color: var(--color)
}

.custom-background-color {
  color: var(--background);
  background-color: var(--color)
}

.uvIndex {
  padding: 8px;
  border-radius: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.size13 {
  font-size: 13px;
}